/* main colors

#ffc800

#0c1e34
#033c59
#005479
#f5a302
#ffba41
#ffd35c


#f57402

*/


/* General Tags */
@import url(https://fontlibrary.org//face/droid-arabic-kufi);
body{
    font-family: 'DroidArabicKufiRegular' !important;
    color:#0c1e34;
}

.custom-color{
    background: #0673b3;
}

.custom-btn{
    color: #fff;
    background: #0673b3;
}

.custom-btn:hover{
    color: #fff;
    background: rgb(47, 126, 1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(163, 163, 163) !important;
    font-size: 14px;

}

.validation_message{
    font-size: 12px;
    color: #f53302;
}

/* Countries */
table{
    color: rgb(110, 110, 110);
}
table thead{
    background: #0673b3;
    color: #fff;
}

table tbody{
    color: rgb(110, 110, 110);
    font-weight: 500;
    font-size: 16px;
}
/* End General Tags */

/* Header */
header .navbar-header{
    background: #0673b3 !important;
}

/* header .navbar-header .navbar-brand{
    text-align: center;
} */

header .navbar-brand .main-logo{
    display: block;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    color: #fff;
    /* margin: 5px; */
    margin-right: 15px;
}

/* End Header */


/* Countries */
.countries table{
    color: rgb(110, 110, 110);
}
.countries table thead{
    background: #0673b3;
    color: #fff;
}

.countries table tbody{
    font-weight: 500;
    font-size: 16px;
}

/* End Countries*/



/* Settings */

.settings .card .card-title{
    font-size: 16px;
    color: rgb(122, 122, 122);
    margin: 10px;
    margin-bottom: 0;   
}

.settings .card hr{
    margin-top: 10px;
    color: #ccc;
}

.settings .appointments ul li{
    list-style: none;
    padding: 10px;
    /* background: #f7f7f7; */
    color: rgb(143, 143, 143);
    border: 1px solid #cdf0ff;
    border-radius: 5px;
    margin: 5px;
}

/* End Settings */